@page "/dogs"
@inject HttpClient _httpClient;

<a href="@($"add-dog")" class="btn btn-primary">Add Dog</a>

<table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Breed</th>
            <th>     </th>
            <th>     </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var dog in DogList)
        {
            <tr>
                    <td>@dog.Name</td>
                    <td>@dog.Age</td>
                <td>@dog.Breed</td>
                <td>
                    <a href="@($"dog/{dog.Id}")" class="btn btn-primary table-btn">View</a>
                </td>
            </tr>
            
        }
        </tbody>
</table>

@code {
    public IEnumerable<GetDogDto>? DogList { get; set; } = new List<GetDogDto>();
    protected override async Task OnInitializedAsync()
    {
        DogList = await _httpClient
            .GetFromJsonAsync<IEnumerable<GetDogDto>>("Dog");

        foreach (var dog in DogList)
        {
            Console.WriteLine($"Name: {dog.Name}");
            Console.WriteLine($"ID: {dog.Id}");
            Console.WriteLine($"Breed: {dog.Breed}");
            Console.WriteLine($"Age: {dog.Age}");
        }
        
    }
}