<div class="modal fade show" id="GenericModal" style="display: block; 
background-color: rgba(10, 10, 10, .8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Title</h4>
                <button type="button" class="btn btn-close" @onclick="@ModalCancel"></button>
            </div>
            <div class="modal-body">
                <p>@Text</p>
            </div>
            <div class="modal-footer">
               @switch (DialogueType)
               {
                   case ModalDialogueType.Ok: 
                       <button type="button" class="btn btn-primary" @onclick="@ModalOk">OK</button>
                       break;
                   case ModalDialogueType.OkCancel:
                       <button type="button" class="btn" @onclick="@ModalCancel">Cancel</button>
                       <button type="button" class="btn btn-primary" @onclick="@ModalOk">OK</button>
                       break;
                   case ModalDialogueType.DeleteCancel:
                       <button type="button" class="btn" @onclick="ModalCancel">Cancel</button>
                       <button type="button" class="btn btn-danger" @onclick="@ModalOk">Delete</button>
                       break;
                   case ModalDialogueType.AddAnotherDogsPeople:
                       <a href="/dogs" class="btn btn-info">View Dogs</a>
                       <a href="/persons" class="btn btn-info">View Persons</a>
                       <button type="button" class="btn btn-primary" @onclick="ModalOk">Add Another</button>
                       break;
               }
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public ModalDialogueType DialogueType { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
    
    public enum ModalDialogueType
    {
        Ok,
        OkCancel,
        DeleteCancel,
        AddAnotherDogsPeople
    }
}
